body {
    font-family: 'Fira Sans', sans-serif!important;
}

/* section header */

#header{
    background: url("./../images/heading background.png");
    width: 100%;
    height: auto;
    color: white;
}

#header {
    padding: 10% 25%;
}

#header .row {
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;
}

#header h1 {
    font-size: calc(100% + 1.8vw + 1.8vh);
    font-weight: bold;
    padding-bottom: 5%;
}

#header .btn-learn {
    font-size: 16px;
    width: 150px;
}

/* section second */

#second {
    background-color: #f2f2f2;
    padding: 5% 10% 3%;
}

#second img {
    height: auto;
    width: 100%;
}

#second h3 {
    text-align: center;
    font-size: calc(100% + 0.62vw + 0.62vh);
    font-weight: 600;
}

#second h4 {
    font-size: calc(70% + 0.32vw + 0.32vh);
    font-weight: 500;
    color: #525252;
    padding-top: 7%;
    padding-bottom: 3%;
}

#second p {
    font-size: calc(70% + 0.25vw + 0.25vh);
    color: #525252;
    padding-bottom: 3%;
}

#second .icons {
    float: right;
    color: #838080;
    font-size: calc(70% + 0.12vw + 0.12vh);
    margin-top: -3%;
    padding-bottom: 8%;
}

#second .hr1 {
    width: 32%;
    border-top: 2px solid;
    margin-bottom: 6%;
}

#second .hr2 {
    border-top: 1px dashed;
}

/* section third */

#third {
    background: url("./../images/third-img.jpg");
    color: white;
    padding: 8% 20% 5%;
}

#third .row {
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;
}

#third h2 {
    font-size: calc(100% + 1vw + 1vh);
    padding-bottom: 2%;
}

#third .btn-learn-third {
    font-size: 16px;
    width: 150px;
}

/* section fourth */

#fourth {
    background-color: #f2f2f2;
    padding: 5% 10%;
}

#fourth .row{
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;
}

#fourth h3 {
    text-align: center;
    font-size: calc(100% + 0.62vw + 0.62vh);
    font-weight: 600;
}

#fourth img {
    width: 100%;
    height: auto;
}

#fourth .btn-fourth {
    background-color: #73c9be;
    border: white;
    width: 230px;
    height: 40px;
}

#fourth .btn-fourth:hover {
    background-color: #3f9287;
}

#fourth p {
    font-size: calc(70% + 0.32vw + 0.32vh);
    font-weight: 500;
    padding-top: 7%;
    padding-bottom: 17%;
    color: #525252;
}


#fourth .hr4-1 {
    width: 32%;
    margin-bottom: 6%;
    border-top: 2px solid;
}

/* section fifth */

#fifth {
    background-color: #f7f7f7;
    padding: 5% 10%;
}

#fifth .row{
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;
}

#fifth h3 {
    text-align: center;
    font-size: calc(100% + 0.62vw + 0.62vh);
    font-weight: 600;
}

#fifth .hr5-1 {
    width: 32%;
    margin-bottom: 8%;
    border-top: 2px solid;
}

#fifth img {
    width: 100%;
    height: auto;
}

/* section sixth */

#sixth {
    background-color: #2f2f2f;
    color: white;
    padding: 5% 20%;
}

#sixth .row {
    justify-content: center;
    align-items: center;
    align-self: center;
}

#sixth h3 {
    text-align: center;
    font-size: calc(100% + 0.62vw + 0.62vh);
    font-weight: 600;
}

#sixth p {
    font-size: calc(75% + 0.33vw + 0.33vh);
    font-weight: 300;
}

#sixth .hr6-1 {
    background-color: white;
    width: 45%;
    margin-bottom: 8%;
    border-top: 2px solid;
}

/* media queries */

@media only screen and (max-width: 768px) {

    #header {
        padding-left: 10%;
        padding-right: 10%;
    }

    #third {
        padding-left: 10%;
        padding-right: 10%;
    }

    #fourth p {
        padding-top: 5%;
        padding-bottom: 10%;
    }

    #fifth img {
        width: 60%;
        padding-bottom: 5%;
    }

    #sixth {
        padding-left: 13%;
        padding-right: 13%;
    }

    #second .hr1 {
        width: 60%;
    }
    #fourth .hr4-1 {
        width: 60%;
    }
    #fifth .hr5-1 {
        width: 60%;
    }
    #sixth .hr6-1 {
        width: 60%;
    }
}

@media only screen and (min-width: 767px) and (max-width: 992px) {
    #header {
        padding-left: 20%;
        padding-right: 20%;
    }
    #fifth img {
        padding-bottom: 5%;
    }
    #second .hr1 {
        width: 50%;
    }
    #fourth .hr4-1 {
        width: 50%;
    }
    #fifth .hr5-1 {
        width: 50%;
    }
    #sixth .hr6-1 {
        width: 70%;
    }
}